.grid-photo {
  padding-top: 92px;
  max-width: 1554px;
  box-sizing: border-box;
}

@media all and (max-width: 1023px) {
  .grid-photo {
    padding-top: 88px;
  }
}

@media all and (max-width: 767px) {
  .grid-photo {
    padding-top: 64px;
  }
}
