.places {
  max-width: 1280px;
  padding-top: 92px;
  padding-right: 148px;
  padding-left: 148px;
}

@media all and (max-width: 1279px) {
  .places {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media all and (max-width: 1023px) {
  .places {
    padding-top: 88px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media all and (max-width: 767px) {
  .places {
    padding-top: 64px;
  }
}

@media all and (max-width: 425px) {
  .places {
    padding-right: 0;
    padding-left: 0;
  }
}
