.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 48px;
  padding-right: 48px;
}

@media all and (max-width: 1023px) {
  .header__container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media all and (max-width: 767px) {
  .header__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
