.grid-photo__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(279px, 1fr));
  gap: 16px;
  padding: 0 48px;
  margin: 0;
  list-style-type: none;
}

@media all and (max-width: 1279px) {
  .grid-photo__wrapper {
    gap: 14px;
  }
}

@media all and (max-width: 1023px) {
  .grid-photo__wrapper {
    gap: 16px;
    padding: 0 24px;
  }
}

@media all and (max-width: 767px) {
  .grid-photo__wrapper {
    gap: 12px;
    padding: 0 16px;
  }
}
