.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media all and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media all and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 48px;
    padding-bottom: 73px;
  }
}

@media all and (max-width: 767px) {
  .place {
    grid-template-columns: auto;
    column-gap: 0;
    padding-bottom: 50px;
  }
}
