.footer {
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
}

@media all and (max-width: 1279px) {
  .footer {
    padding: 111px 48px 24px;
  }
}

@media all and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media all and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media all and (max-width: 425px) {
  .footer {
    padding: 64px 16px 24px;
  }
}
